.wrapper {
    position: relative;
    .theme-img {
        overflow: hidden;
        width: 138px;
        height: 98px;
        border-radius: 4px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover .theme-btn {
        transition: 0.4s ease-in-out;
        display: flex;
    }

    &:hover .theme-img {
        img {
            transform: scale(1.1) translateZ(0);
        }
    }
}

.container {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 0;
    color: var(--text-primary);
}

.theme-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    display: none;
    transition: 0.4 ease-in-out;

    button {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-color);
        // background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid hsla(0, 0%, 100%, 0.5);
        width: 100px;
        border-radius: 999px;
        padding: 4px 6px;
        margin-bottom: 6px;

        &:hover {
            opacity: 0.9;
            transition: 0.3s ease-in-out;
        }
    }
}

.button-hover {
    background-color: var(--purple-primary);
}
