.wrapper {
    width: 100%;
    min-width: 240px;
    // max-height: calc(100vh - 250px);
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    // overflow: hidden;
    background-color: var(--primary-bg);
}
